*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    
}
:root{
  

--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);
--gradiente-direita: hsl(136, 65%, 51%), hsl(192, 70%, 51%);


--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);

}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

p,li,a{
    color: var(--Grayish-Blue);
}
h1,h2,h3,h4{
    color: var(--Dark-Blue);
    margin-bottom: 3vw;
}
h2{
    font-size: clamp(1.3rem, 1.9rem,2.5rem);
}
h3{
    font-size: clamp(1.1rem, 1.3rem,2.5rem);
}
h4{
    font-size: clamp(1rem, 1.1rem, 1.5rem);
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    
    
}
.ul-nav{
    display: flex;
}
.ul-nav li{
    list-style: none;
    margin-left: 2vw;
    
}
.ul-nav li a{
    text-decoration: none;
}
.ul-nav li a:hover{
    color: var(--Dark-Blue);
    text-decoration: underline  var(--Lime-Green);
    text-underline-offset: 36px;
    text-decoration-thickness: 4px;
}
.request{
    background: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border: none;
    padding: 13px;
    width: 130px;
    color: var(--White);
    border-radius:20px;
    font-weight: bold;
    
}
.request:hover{
    background: linear-gradient(to right, hsla(136, 65%, 51%, 0.664),hsla(192, 70%, 51%, 0.637));
}

main{
    width: 100vw;
    padding-inline: 4vw;
}
.section1{
    display: grid;
    grid-template-columns: 40vw 60vw;

    
}
.section1-div1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section1-div1 h1{
    font-size: clamp(1.5rem, 2.3rem,3rem);

}
.section1-div1 p{
    margin-bottom: 3vw;
}
.section1-image{
    background-image: url('./assets/bg-intro-desktop.svg');
    background-size: cover;
    background-position: top center ;
    
    
}

.section1-image img{
    width: 100%;
    
}

.title-section2{
    margin-bottom: 5vw;
}

.section2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5vw;
    margin-bottom: 9vw;
}
.section2 h3{
    margin-block: 2.5vw;
    
}
aside{
    margin-bottom: 9vw;
}
.aside{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5vw;
    
}
.aside img{
    width: 100%;
    height: 16vw;
}
.autor{
    margin-block: 1.5vw;
}
.aside p,h4{
    margin-left: 2vw;
}
.aside h4:hover{
    color: var(--Lime-Green);
    cursor: pointer;
}
footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--Dark-Blue);
    color: var(--White);
    padding: 40px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 20px;
    
}
.icons{
    margin-top: 2.5vw;
}
.icons img{
    margin-left: 5px;
}
footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer li{
    list-style: none;
    margin-top: 1.5vw;
    
}
footer a{
    text-decoration: none;
    color: var(--White);
}
footer a:hover{
    color: var(--Lime-Green);
}
.button-footer{
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
}
.button-footer p{
    margin-top: 15px;
    white-space: nowrap;
    font-size: clamp(10px, 13px,20px);
    
}
@media (max-width:769px) {
    main{
        padding-inline: 40px;
    }
    footer ul{
        margin-left: 30px;
    }
    .aside{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .aside img{
        width: 100%;
        height: 230px;
    }
    .section2{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

}
@media (max-width:662px){
    main{
        padding: 0;
    }
        
    .section1{
        grid-template-columns: 1fr;
        
    }
    
    .section1-image{
        order: 1;
        background-image: url('./assets/bg-intro-mobile.svg');
        display: flex;
        justify-content: center;
    }
    .section1-image img{
        width: 80%;
        overflow: hidden;
        
    }
    .section1-div1{
        order: 2;
        padding: 50px;
    }
    .title-section2{
        padding: 50px;
    }
    .section2{
        grid-template-columns: 1fr;
        
    }
    .section2 div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-inline: 50px;
    }
    .aside{
        grid-template-columns: 1fr;
        gap: 70px;
    }
    aside{
        padding-inline: 50px;
    }
    .aside img{
        height: 300px;
        min-height: 200px;
    }
    footer{
        grid-template-columns: 1fr;
        justify-items: center;
        
    }
    footer ul{
        grid-template-columns: 1fr;
        margin-block: 15px;
    }
    footer ul li{
        margin-bottom: 10px;
    }
    .logo-footer{
        margin-bottom: 25px;
    }
    .button-footer{
        align-items: center;
    }

}
